$fontMain: "Poppins", "Verdana", "Helvetica", "Arial", sans-serif;
// $fontTitle: "__", "Verdana", "Helvetica", "Arial", sans-serif;

// don't change, root base size = 10px
$fontSize: 10px;
//usually - normal 400
$fontWeightNormal: 400;

$colorBgnd: #ffffff;
$colorBgndSecond: #165166;
$colorBlack: #000000;
$colorGrayLight: #efefef;
$colorGray: #cdcdcd;
$colorGrayDark: #bcb9b9;
$colorGreen: #54c352;
$colorGreenLight: #05ff00;
$colorGreenDark: #78a677;

$color_1: #d9d9d9;

$color_3: #dcf8ec;
