// $fontMain: "__", "Verdana", "Helvetica", "Arial", sans-serif;
// $fontTitle: "__", "Verdana", "Helvetica", "Arial", sans-serif;

// don't change, root base size = 10px
$fontSize: 62.5%;
//usually - normal 400
$fontWeightNormal: 400;

$colorBgnd: #ffffff;
// $color_1: #3a353c;
// $color_2: #757575;
// $color_3: #555555;
